@{
    ViewBag.Title = "About";
}

<div class="col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <marquee direction="right">
                <h4 class="text-primary">@ViewBag.Message</h4>
            </marquee>
            <h5 class="text-warning">
                In this demo, we will learn about
            </h5>
            <hr />
            <marquee>
                <p class="font-weight-bold lead text-danger"> Understanding MVC CORE -EMPLOYEE MANAGEMENT -CASE STUDY  with Web API </p>
            </marquee>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <ul class="text-success font-weight-bold list-group">

                <li class="list-group-item">Controllers</li>
                <li class="list-group-item">Models</li>
                <li class="list-group-item">Views [ViewModels]</li>
                <li class="list-group-item">Traditional/Conventional Routing</li>
                <li class="list-group-item">Attribute Routing  </li>
                <li class="list-group-item">ActionResults</li>
                <li class="list-group-item">Filters</li>


            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="text-success font-weight-bold list-group">
                <li class="list-group-item">
                    Sharing Or Passing data between Controller Action To View
                    <ol>
                        <li class="list-group-item">ViewBag</li>
                        <li class="list-group-item">ViewData</li>
                        <li class="list-group-item">TempData</li>
                    </ol>
                </li>
                <li class="list-group-item">Layouts-Partial View</li>
                <li class="list-group-item">HTML Helpers</li>
                <li class="list-group-item">Razon View Engine</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="text-success font-weight-bold list-group">
                <li class="list-group-item">
                    Entity Framework Approaches
                    <ul>
                        <li class="list-group-item">Code First Approach</li>
                        <li class="list-group-item">Database or Schema First Approach</li>
                        <li class="list-group-item">Model First Approach </li>
                    </ul>
                </li>
                <li class="list-group-item">Model Validations using Annotations</li>
                <li class="list-group-item">Security - Authentication</li>
                <li class="list-group-item">Web API2</li>
            </ul>
        </div>
    </div>
</div>
