@{
    ViewBag.Title = "Home Page";
}


<h1 class="text-success">AtoZ Solutions ..!</h1>
<br />
<p class="lead text-danger">A to Z Solution, is a well-established and renowned Service Provider offering the best and qualitative Services inclusive of Labour Contract Services, Epoxy Flooring Services, Support Staff Services, Pantry Services, Management Services, HR Staffing Solution, Manpower Services, Air Conditioner Repairing Services, Housekeeping Services, Pest Control Services, Carpet Bowls, Payroll Outsourcing Services, Guest House Management Services, Plumbing Services and many more. We are a foremost professional expertise in the field of providing manpower services on contractual basis. We cater the diverse requirements of the customers by providing them the best and reliable services that fit in their budget as well. </p>
<br />
<p><a href="" class="btn btn-warning btn-lg">Order Now &raquo;</a></p>


